<link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <a style="cursor: pointer" (click)="navToHome()" class="navbar-brand">Home</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <div type="button" class="btn btn-light">
        <a><span class="glyphicon glyphicon-log-out"></span></a>
      </div>
    </form>
  </div>
</nav>
<div class="header">
  <!-- <h2>Blog Name</h2> -->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="content" class="content content-full-width">
        <!-- begin profile -->
        <div class="profile">
          <div class="profile-header">
            <!-- BEGIN profile-header-cover -->
            <div class="profile-header-cover"></div>
            <!-- END profile-header-cover -->
            <!-- BEGIN profile-header-content -->
            <div class="profile-header-content">
              <!-- BEGIN profile-header-img -->
              <div class="profile-header-img">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
              </div>
              <!-- END profile-header-img -->
              <!-- BEGIN profile-header-info -->
              <div class="profile-header-info">
                <h4 class="m-t-10 m-b-5">{{userInfo?.firstName + " " + userInfo?.lastName}}</h4>
                <!-- <p class="m-b-10">UXUI + Frontend Developer</p> -->
                <a href="#" class="btn btn-xs btn-success">Add Friend</a>
              </div>
              <!-- END profile-header-info -->
            </div>
            <!-- END profile-header-content -->
            <!-- BEGIN profile-header-tab -->
            <ul class="profile-header-tab nav nav-tabs">
              <li class="nav-item"><a style="cursor:pointer" (click)="navToAboutTab()" target="__blank"
                  class="nav-link_">ABOUT</a></li>
              <li class="nav-item"><a style="cursor:pointer" target="__blank" class="nav-link_ active show">POSTS</a>
              </li>
              <li class="nav-item"><a style="cursor:pointer" (click)="navToLikesTab()" target="__blank"
                  class="nav-link_">LIKES</a></li>
              <li class="nav-item"><a style="cursor:pointer" (click)="navToCommentsTab()" target="__blank"
                  class="nav-link_">COMMENTS</a></li>
              <li class="nav-item"><a href="https://www.bootdey.com/snippets/view/bs4-profile-friend-list"
                  target="__blank" class="nav-link_">FRIENDS</a></li>
            </ul>
            <!-- END profile-header-tab -->
          </div>
        </div>
        <!-- end profile -->
        <!-- begin profile-content -->
        <div id="main-content" class="blog-page">
          <div class="row clearfix">
            <div class="container">
              <div class="col-lg-8 col-md-12 left-box">
                <div *ngFor="let post of userPosts" class="card single_post">
                  <div class="body">
                    <div class="img-post">
                      <a style="cursor:pointer" class="pull-left">
                        <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                      </a>
                    </div>
                    <div class="publisher-info">
                      <h5 style="cursor: pointer"><a>{{
                          userInfo?.firstName + " " + userInfo?.lastName}}</a></h5>
                    </div>
                    <p>{{ post?.content }}</p>
                  </div>
                  <div class="footer">
                    <div class="actions">
                      <!-- <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue Reading</a> -->
                    </div>
                    <ul class="stats">
                      <li class=""><a>{{ post.formattedDate }}</a></li>
                      <li>
                        <a href="javascript:void(0);" class="fa fa-heart"
                          [style.color]="post.isLikedChk ? 'red' : 'black'">
                          {{post.numOfLikes}}
                        </a>
                      </li>
                      <li><a href="javascript:void(0);" [style.color]="'black'" class="fa fa-comment">
                          {{post.numOfComments}}
                        </a></li>
                    </ul>
                    <div class="container">
                      <div class="row bootstrap snippets bootdeys" style="width: 70em">
                        <div class="col-md-8 col-sm-12">
                          <div class="comment-wrapper">
                            <div class="panel panel-info">
                              <div class="panel-body" style="margin-bottom: -20px;">
                                <div class="clearfix" style="margin: -15px"></div>
                                <hr>
                                <ul class="media-list" style="margin-top: -15px">
                                  <li *ngFor="let comment of post.postComments; index as i" class="media">
                                    <a style="cursor:pointer" class="pull-left">
                                      <img style="width: 40px !important; height: 40px !important;"
                                        src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                                    </a>
                                    <div class="media-body">
                                      <span class="text-muted pull-right">
                                        <small class="text-muted">{{comment.formattedDate}}</small>
                                      </span>
                                      <strong style="cursor: pointer"
                                        class="text-success">{{comment.publisherName}}</strong>
                                      <p *ngIf="post.postComments !== null">
                                        {{comment.content}}
                                      </p>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end profile-content -->
            </div>
          </div>
        </div>
      </div>