<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>

<nav class="navbar bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <div type="button" class="btn btn-light">
        <a (click)="handleLogout()"><span class="glyphicon glyphicon-log-out"></span></a>
      </div>
    </form>
  </div>
</nav>
<div class="header">
  <h2>Blog Name</h2>
</div>

<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div style="display: contents" class="col-md-offset-3 col-md-6 col-xs-12">
      <div class="well well-sm well-social-post">
        <form #createPostForm="ngForm" (ngSubmit)="onCreateUserPost(createPostForm)">
          <ul class="list-inline" id='list_PostActions'>
            <li class='active'><a href='#'>Update status</a></li>
            <li><a href='#'>Add photos/Video</a></li>
            <li><a href='#'>Create photo album</a></li>
          </ul>
          <textarea ngModel name="content" class="form-control" placeholder="What's in your mind?"></textarea>
          <ul class='list-inline post-actions'>
            <li><a href="#"><span class="glyphicon glyphicon-camera"></span></a></li>
            <li><a href="#" class='glyphicon glyphicon-user'></a></li>
            <li><a href="#" class='glyphicon glyphicon-map-marker'></a></li>
            <li class='pull-right'><button [disabled]="createPostForm.invalid"
                class='btn btn-primary btn-xs'>Post</button></li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="blog-page">
  <div class="row clearfix">
    <div class="container">
      <div class="col-lg-8 col-md-12 left-box">
        <div *ngFor="let post of allPosts" class="card single_post">
          <div class="body">
            <div class="img-post">
              <img class="d-block img-fluid rounded-circle" src="https://www.bootdey.com/image/800x280/FFB6C1/000000"
                alt="First slide">
            </div>
            <div class="publisher-info">
              <h5><a>{{ this.post.publisherName }}</a></h5>
            </div>
            <p>{{ post?.content }}</p>
          </div>
          <div class="footer">
            <div class="actions">
              <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue Reading</a>
            </div>
            <ul class="stats">
              <li class=""><a>{{ post.formattedDate }}</a></li>
              <li>
                <a href="javascript:void(0);" class="fa fa-heart" [style.color]="post.isLikedChk ? 'red' : 'black'"
                  (click)="toggleLike(post)">
                  {{post.numOfLikes}}
                </a>
              </li>
              <li><a href="javascript:void(0);" [style.color]="'black'" class="fa fa-comment"></a></li>
            </ul>
            <div class="container">
              <div class="row bootstrap snippets bootdeys" style="width: 70em">
                <div class="col-md-8 col-sm-12">
                  <div class="comment-wrapper">
                    <div class="panel panel-info">
                      <!-- <div class="panel-heading">
                        Comment panel
                      </div> -->
                      <div class="panel-body" style="margin-bottom: -20px;">
                        <form #createCommentForm="ngForm" (ngSubmit)="onAddCommentToPost(post, createCommentForm)">
                          <textarea ngModel name="content" class="form-control" placeholder="write a comment..."
                            rows="2.5"></textarea>
                          <br>
                          <button [disabled]="createCommentForm.invalid" type="submit" class="btn btn-info pull-right"
                            style="margin-top: -15px">Post</button>
                        </form>
                        <div class="clearfix" style="margin: -15px"></div>
                        <hr>
                        <ul class="media-list" style="margin-top: -15px">
                          <li *ngFor="let comment of post.postComments" class="media">
                            <a href="#" class="pull-left">
                              <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                            </a>
                            <div class="media-body">
                              <span class="text-muted pull-right">
                                <small class="text-muted">{{comment.formattedDate}}</small>
                              </span>
                              <strong class="text-success">{{comment.publisherName}}</strong>
                              <p *ngIf="post.postComments !== null">
                                {{comment.content}}
                              </p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="pagination pagination-primary">
          <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
          <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-12 right-box">
        <div class="card">
          <div class="body search">
            <div class="input-group m-b-0">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Search...">
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h2>Categories Clouds</h2>
          </div>
          <div class="body widget">
            <ul class="list-unstyled categories-clouds m-b-0">
              <li><a href="javascript:void(0);">eCommerce</a></li>
              <li><a href="javascript:void(0);">Microsoft Technologies</a></li>
              <li><a href="javascript:void(0);">Creative UX</a></li>
              <li><a href="javascript:void(0);">Wordpress</a></li>
              <li><a href="javascript:void(0);">Angular JS</a></li>
              <li><a href="javascript:void(0);">Enterprise Mobility</a></li>
              <li><a href="javascript:void(0);">Website Design</a></li>
              <li><a href="javascript:void(0);">HTML5</a></li>
              <li><a href="javascript:void(0);">Infographics</a></li>
              <li><a href="javascript:void(0);">Wordpress Development</a></li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h2>Popular Posts</h2>
          </div>
          <div class="body widget popular-post">
            <div class="row">
              <div class="col-lg-12">
                <div class="single_post">
                  <p class="m-b-0">Apple Introduces Search Ads Basic</p>
                  <span>jun 22, 2018</span>
                  <div class="img-post">
                    <img src="https://www.bootdey.com/image/280x280/FFB6C1/000000" alt="Awesome Image">
                  </div>
                </div>
                <div class="single_post">
                  <p class="m-b-0">new rules, more cars, more races</p>
                  <span>jun 8, 2018</span>
                  <div class="img-post">
                    <img src="https://www.bootdey.com/image/280x280/FFB6C1/000000" alt="Awesome Image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h2>Instagram Post</h2>
          </div>
          <div class="body widget">
            <ul class="list-unstyled instagram-plugin m-b-0">
              <li><a href="javascript:void(0);"><img src="https://www.bootdey.com/image/80x80/FFB6C1/000000"
                    alt="image description"></a></li>
              <li><a href="javascript:void(0);"><img src="https://www.bootdey.com/image/80x80/FFB6C1/000000"
                    alt="image description"></a></li>
              <li><a href="javascript:void(0);"><img src="https://www.bootdey.com/image/80x80/FFB6C1/000000"
                    alt="image description"></a></li>
              <li><a href="javascript:void(0);"><img src="https://www.bootdey.com/image/80x80/FFB6C1/000000"
                    alt="image description"></a></li>
              <li><a href="javascript:void(0);"><img src="https://www.bootdey.com/image/80x80/FFB6C1/000000"
                    alt="image description"></a></li>
              <li><a href="javascript:void(0);"><img src="https://www.bootdey.com/image/80x80/FFB6C1/000000"
                    alt="image description"></a></li>
              <li><a href="javascript:void(0);"><img src="https://www.bootdey.com/image/80x80/FFB6C1/000000"
                    alt="image description"></a></li>
              <li><a href="javascript:void(0);"><img src="https://www.bootdey.com/image/80x80/FFB6C1/000000"
                    alt="image description"></a></li>
              <li><a href="javascript:void(0);"><img src="https://www.bootdey.com/image/80x80/FFB6C1/000000"
                    alt="image description"></a></li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="header">
            <h2>Email Newsletter <small>Get our products/news earlier than others, let’s get in touch.</small></h2>
          </div>
          <div class="body widget newsletter">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter Email">
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon-paper-plane"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>