<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>


<app-navbar></app-navbar>


<!-- PROFILE SECTION -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="content" class="content content-full-width">
              <!-- begin profile -->
              <div class="profile">
                <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                    <!-- BEGIN profile-header-img -->
                    <div class="profile-header-img">
                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                    </div>
                    <!-- END profile-header-img -->
                    <!-- BEGIN profile-header-info -->
                    <div class="profile-header-info">
                      <h4 class="m-t-10 m-b-5">{{userInfo?.firstName + " " + userInfo?.lastName}}</h4>
                      <!-- <p class="m-b-10">Web And Frontend Developer</p> -->
                      <div *ngIf="currentUser && userInfo && currentUser.id !== userInfo.id; else elseBlock">
                        <div *ngIf="friendship === null; else friendshipRequestExists"><a (click)="onAddFriend()"
                            class="btn btn-xs btn-success">Add Friend</a></div>
                        <ng-template #friendshipRequestExists>
                          <a (click)="onCancelSentFriendshipRequest()" class="btn btn-xs btn-danger">Cancel Sent
                            Request</a>
                        </ng-template>
                      </div>
                      <ng-template #elseBlock><a (click)="onEditProfile()" class="btn btn-primary">Edit
                          Profile</a></ng-template>
                    </div>
                    <!-- END profile-header-info -->
                  </div>
                  <!-- END profile-header-content -->
                  <!-- BEGIN profile-header-tab -->
                  <ul class="profile-header-tab nav nav-tabs">
                    <li class="nav-item">
                      <a style="cursor:pointer" (click)="navToAboutTab()" target="__blank" class="nav-link_"
                        [ngClass]="{'nav-link_ active show': selectedTab === 'About'}">ABOUT</a>
                    </li>
                    <li class="nav-item">
                      <a style="cursor:pointer" (click)="navToPostsTab()" target="__blank" class="nav-link_"
                        [ngClass]="{'nav-link_ active show': selectedTab === 'Posts'}">POSTS</a>
                    </li>
                    <li class="nav-item">
                      <a style="cursor:pointer" (click)="navToLikesTab()" target="__blank" class="nav-link_"
                        [ngClass]="{'nav-link_ active show': selectedTab === 'Likes'}">LIKES</a>
                    </li>
                    <li class="nav-item">
                      <a style="cursor:pointer" (click)="navToCommentsTab()" target="__blank" class="nav-link_"
                        [ngClass]="{'nav-link_ active show': selectedTab === 'Comments'}">COMMENTS</a>
                    </li>
                    <li class="nav-item">
                      <a style="cursor:pointer" (click)="navToFriendsTab()" target="__blank" class="nav-link_"
                        [ngClass]="{'nav-link_ active show': selectedTab === 'Friends'}">FRIENDS</a>
                    </li>
                  </ul>
                  <!-- END profile-header-tab -->
                </div>
              </div>
              <!-- end profile -->
              <!-- begin ABOUT-content -->
              <div *ngIf="this.selectedTab === 'About'" class="profile-content">
                <!-- begin tab-content -->
                <div class="tab-content p-0">

                  <!-- begin #profile-about tab -->
                  <div class="tab-pane fade in active show" id="profile-about">
                    <!-- begin table -->
                    <div class="table-responsive">
                      <table class="table table-profile">
                        <thead>
                          <tr>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="highlight">
                            <td class="field">Name</td>
                            <td><a>{{userInfo?.firstName + " " + userInfo?.lastName}}</a></td>
                          </tr>
                          <tr class="highlight">
                            <td class="field">Email</td>
                            <td><a>{{userInfo?.email}}</a></td>
                          </tr>
                          <tr class="highlight">
                            <td class="field">About Me</td>
                            <td><a>{{userInfo?.bio}}</a></td>
                          </tr>
                          <tr class="divider">
                            <td colspan="2"></td>
                          </tr>
                          <tr>
                            <td class="field">Gender</td>
                            <td><a>{{userInfo?.gender}}</a></td>
                            <td>
                            </td>
                          </tr>
                          <tr class="divider">
                            <td colspan="2"></td>
                          </tr>
                          <tr class="highlight">
                            <td class="field">&nbsp;</td>
                            <td class="p-t-10 p-b-10">
                              <button type="submit" class="btn btn-primary width-150">Update</button>
                              <button type="submit"
                                class="btn btn-white btn-white-without-border width-150 m-l-5">Cancel</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- end table -->
                  </div>
                  <!-- end #profile-about tab -->
                </div>
                <!-- end tab-content -->
              </div>
              <!-- end ABOUT-content -->
              <!-- begin POSTS-content -->
              <div *ngIf="this.selectedTab === 'Posts'" id="main-content" class="blog-page">
                <div class="row clearfix">
                  <div class="container">
                    <div class="col-lg-8 col-md-12 left-box">
                      <div *ngFor="let post of userPosts" class="card single_post">
                        <div class="body">
                          <div class="img-post">
                            <a style="cursor:pointer" class="pull-left">
                              <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                            </a>
                          </div>
                          <div class="publisher-info">
                            <h5 style="cursor: pointer"><a>{{
                                userInfo?.firstName + " " + userInfo?.lastName}}</a></h5>
                          </div>
                          <p>{{ post?.content }}</p>
                        </div>
                        <div class="footer">
                          <div class="actions">
                            <!-- <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue Reading</a> -->
                          </div>
                          <ul class="stats">
                            <li class=""><a>{{ post.formattedDate }}</a></li>
                            <li>
                              <a href="javascript:void(0);" class="fa fa-heart"
                                [style.color]="post.isLikedChk ? 'red' : 'black'">
                                {{post.numLikes}}
                              </a>
                            </li>
                            <li><a href="javascript:void(0);" [style.color]="'black'" class="fa fa-comment">
                                {{post.numComments}}
                              </a></li>
                          </ul>
                          <div class="container">
                            <div class="row bootstrap snippets bootdeys" style="width: 70em">
                              <div class="col-md-8 col-sm-12">
                                <div class="comment-wrapper">
                                  <div class="panel panel-info">
                                    <div class="panel-body" style="margin-bottom: -20px;">
                                      <div class="clearfix" style="margin: -15px"></div>
                                      <hr>
                                      <ul class="media-list" style="margin-top: -15px">
                                        <li *ngFor="let comment of post.postComments; index as i" class="media">
                                          <a style="cursor:pointer" class="pull-left">
                                            <img style="width: 40px !important; height: 40px !important;"
                                              src="https://bootdey.com/img/Content/user_2.jpg" alt=""
                                              class="img-circle">
                                          </a>
                                          <div class="media-body">
                                            <span class="text-muted pull-right">
                                              <small class="text-muted">{{comment.formattedDate}}</small>
                                            </span>
                                            <strong style="cursor: pointer"
                                              class="text-success">{{comment.publisherName}}</strong>
                                            <p *ngIf="post.postComments !== null">
                                              {{comment.content}}
                                            </p>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end POSTS-content -->
                  </div>
                </div>
              </div>
              <!-- begin LIKES-content -->
              <div *ngIf="this.selectedTab === 'Likes'" id="main-content" class="blog-page">
                <div class="row clearfix">
                  <div class="container">
                    <div class="col-lg-8 col-md-12 left-box">
                      <div *ngFor="let post of userLikes" class="card single_post">
                        <div class="body">
                          <div class="img-post">
                            <a style="cursor:pointer" class="pull-left">
                              <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                            </a>
                          </div>
                          <div class="publisher-info">
                            <h5 style="cursor: pointer"><a>{{
                                userInfo?.firstName + " " + userInfo?.lastName}}</a></h5>
                          </div>
                          <p>{{ post?.content }}</p>
                        </div>
                        <div class="footer">
                          <div class="actions">
                            <!-- <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue Reading</a> -->
                          </div>
                          <ul class="stats">
                            <li class=""><a>{{ post.formattedDate }}</a></li>
                            <li>
                              <a href="javascript:void(0);" class="fa fa-heart"
                                [style.color]="post.isLikedChk ? 'red' : 'black'">
                                {{post.numLikes}}
                              </a>
                            </li>
                            <li><a href="javascript:void(0);" [style.color]="'black'" class="fa fa-comment">
                                {{post.numComments}}
                              </a></li>
                          </ul>
                          <!-- <div class="container">
                      <div class="row bootstrap snippets bootdeys" style="width: 70em">
                        <div class="col-md-8 col-sm-12">
                          <div class="comment-wrapper">
                            <div class="panel panel-info">
                              <div class="panel-body" style="margin-bottom: -20px;">
                                <div class="clearfix" style="margin: -15px"></div>
                                <hr>
                                <ul class="media-list" style="margin-top: -15px">
                                  <li *ngFor="let comment of post.postComments; index as i" class="media">
                                    <a style="cursor:pointer" class="pull-left">
                                      <img style="width: 40px !important; height: 40px !important;"
                                        src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                                    </a>
                                    <div class="media-body">
                                      <span class="text-muted pull-right">
                                        <small class="text-muted">{{comment.formattedDate}}</small>
                                      </span>
                                      <strong style="cursor: pointer"
                                        class="text-success">{{comment.publisherName}}</strong>
                                      <p *ngIf="post.postComments !== null">
                                        {{comment.content}}
                                      </p>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                        </div>
                      </div>
                    </div>
                    <!-- end LIKES-content -->
                  </div>
                </div>
              </div>
              <!-- begin COMMENTS-content -->
              <!-- end COMMENTS-content -->
              <!-- begin FREINDS-content -->
              <div *ngIf="this.selectedTab === 'Friends'" class="profile-content">
                <!-- begin tab-content -->
                <div class="tab-content p-0">
                  <!-- begin #profile-friends tab -->
                  <div class="tab-pane fade in active show" id="profile-friends">
                    <h4 class="m-t-0 m-b-20">Friend List (14)</h4>
                    <!-- begin row -->
                    <div class="row row-space-2">
                      <!-- begin col-6 -->
                      <div class="col-md-6 m-b-2">
                        <div class="p-10 bg-white">
                          <div class="media media-xs overflow-visible">
                            <a class="media-left" href="javascript:;">
                              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""
                                class="media-object img-circle">
                            </a>
                            <div class="media-body valign-middle">
                              <b class="text-inverse">James Pittman</b>
                            </div>
                            <div class="media-body valign-middle text-right overflow-visible">
                              <div class="btn-group dropdown">
                                <a href="javascript:;" class="btn btn-default">Friends</a>
                                <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                  aria-expanded="false"></a>
                                <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                                  style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(101px, 34px, 0px);">
                                  <li><a href="javascript:;">Action 1</a></li>
                                  <li><a href="javascript:;">Action 2</a></li>
                                  <li><a href="javascript:;">Action 3</a></li>
                                  <li class="divider"></li>
                                  <li><a href="javascript:;">Action 4</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end col-6 -->
                      <!-- begin col-6 -->
                      <!-- end col-6 -->
                      <!-- begin col-6 -->
                      <!-- end col-6 -->
                      <!-- begin col-6 -->
                      <!-- end col-6 -->
                      <!-- begin col-6 -->
                      <!-- end col-6 -->
                      <!-- begin col-6 -->
                      <!-- end col-6 -->
                      <!-- begin col-6 -->
                      <!-- end col-6 -->
                      <!-- begin col-6 -->
                      <!-- end col-6 -->
                      <!-- begin col-6 -->
                      <!-- end col-6 -->
                      <!-- begin col-6 -->
                      <!-- end col-6 -->
                      <!-- begin col-6 -->
                      <!-- end col-6 -->
                      <!-- begin col-6 -->
                      <!-- end col-6 -->
                      <!-- begin col-6 -->
                      <!-- end col-6 -->
                      <!-- begin col-6 -->
                      <!-- end col-6 -->
                      <!-- begin col-6 -->
                      <!-- end col-6 -->
                    </div>
                    <!-- end row -->
                  </div>
                  <!-- end #profile-friends tab -->
                </div>
                <!-- end tab-content -->
              </div>
              <!-- end FRIENDS-content -->
            </div>