<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>


<nav class="navbar bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <a style="cursor: pointer" (click)="navToHome()" class="navbar-brand">Home</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <div type="button" class="btn btn-light">
        <a><span class="glyphicon glyphicon-log-out"></span></a>
      </div>
    </form>
  </div>
</nav>
<div class="header">
  <!-- <h2>Blog Name</h2>d -->
</div>


<!-- PROFILE SECTION -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="content" class="content content-full-width">
              <!-- begin profile -->
              <div class="profile">
                <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                    <!-- BEGIN profile-header-img -->
                    <div class="profile-header-img">
                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                    </div>
                    <!-- END profile-header-img -->
                    <!-- BEGIN profile-header-info -->
                    <div class="profile-header-info">
                      <h4 class="m-t-10 m-b-5">{{userInfo?.firstName + " " + userInfo?.lastName}}</h4>
                      <!-- <p class="m-b-10">Web And Frontend Developer</p> -->
                      <!-- <ng-template *ngIf="this.currentUser!.id == this.userInfo!.id"> -->
                      <a (click)="onAddFriend()" class="btn btn-xs btn-success">Add Friend</a>
                      <!-- </ng-template> -->
                    </div>
                    <!-- END profile-header-info -->
                  </div>
                  <!-- END profile-header-content -->
                  <!-- BEGIN profile-header-tab -->
                  <ul class="profile-header-tab nav nav-tabs">
                    <li class="nav-item"><a style="cursor:pointer" target="__blank"
                        class="nav-link_ active show">ABOUT</a></li>
                    <li class="nav-item"><a style="cursor:pointer" (click)="navToPostsTab()" target="__blank"
                        class="nav-link_">POSTS</a></li>
                    <li class="nav-item"><a style="cursor:pointer" target="__blank" class="nav-link_">LIKES</a></li>
                    <li class="nav-item"><a style="cursor:pointer" target="__blank" class="nav-link_">COMMENTS</a></li>
                    <li class="nav-item"><a style="cursor:pointer"
                        href="https://www.bootdey.com/snippets/view/bs4-profile-friend-list" target="__blank"
                        class="nav-link_">FRIENDS</a></li>
                  </ul>
                  <!-- END profile-header-tab -->
                </div>
              </div>
              <!-- end profile -->
              <!-- begin profile-content -->
              <div class="profile-content">
                <!-- begin tab-content -->
                <div class="tab-content p-0">

                  <!-- begin #profile-about tab -->
                  <div class="tab-pane fade in active show" id="profile-about">
                    <!-- begin table -->
                    <div class="table-responsive">
                      <table class="table table-profile">
                        <thead>
                          <tr>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="highlight">
                            <td class="field">Name</td>
                            <td><a>{{userInfo?.firstName + " " + userInfo?.lastName}}</a></td>
                          </tr>
                          <tr class="highlight">
                            <td class="field">Email</td>
                            <td><a>{{userInfo?.email}}</a></td>
                          </tr>
                          <tr class="highlight">
                            <td class="field">About Me</td>
                            <td><a>{{userInfo?.bio}}</a></td>
                          </tr>
                          <tr class="divider">
                            <td colspan="2"></td>
                          </tr>
                          <tr>
                            <td class="field">Gender</td>
                            <td><a>{{userInfo?.gender}}</a></td>
                            <td>
                            </td>
                          </tr>
                          <tr class="divider">
                            <td colspan="2"></td>
                          </tr>
                          <tr class="highlight">
                            <td class="field">&nbsp;</td>
                            <td class="p-t-10 p-b-10">
                              <button type="submit" class="btn btn-primary width-150">Update</button>
                              <button type="submit"
                                class="btn btn-white btn-white-without-border width-150 m-l-5">Cancel</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- end table -->
                  </div>
                  <!-- end #profile-about tab -->
                </div>
                <!-- end tab-content -->
              </div>
              <!-- end profile-content -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>